:root {
    --primary: #ff4d4d;
    --primary-dark: #ff3333;
    --bg-dark: #0a0a0a;
    --bg-light: #1e1e1e;
    --text-light: #ffffff;
    --text-gray: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, sans-serif;
}

body {
    width: 360px;
    min-height: 560px;
    background-color: var(--bg-dark);
    color: var(--text-light);
}

html, body {
    overflow: overlay; /* Scrollbar overlays content */
    scrollbar-width: thin; /* For Firefox: Make the scrollbar less intrusive */
    scrollbar-color: rgba(220, 220, 220, 0.6) transparent; /* Custom scrollbar color for Firefox */
}

.container {
    padding: 16px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#searchContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

input[type="text"] {
    flex: 1;
    background-color: var(--bg-light);
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    color: var(--text-light);
    font-size: 14px;
}

input[type="text"]:focus {
    outline: 1px solid var(--primary);
}

button {
    background: var(--primary);
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    color: var(--text-light);
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: var(--primary-dark);
}

#results {
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: auto;
}

#watchlist {
    padding: 16px;
    background: var(--bg-light);
    border-radius: 8px;
    margin-bottom: 16px;
}

#watchlist h2 {
    font-size: 16px;
    margin-bottom: 12px;
    color: var(--text-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

#watchlistItems {
    height: 310px;
    max-height: 310px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginContainer {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

#loginContainer p {
    font-size: 14px;
}

#loginContainer h2 {
    font-size: 22px;
}

#loginContainer button {
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
}

#loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 16px;
    background: var(--bg-light);
    border-radius: 8px 8px 0 0;
    position: absolute;
    bottom: 0;
}

#userInfo>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userInfo>div p {
    margin: 0 5px;
}

.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--primary);
}

#userInfo button {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
}

#userInfo button:hover {
    background: var(--primary);
    color: var(--text-light);
}

.watchlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.watchlist-header h2 {
    margin: 0 !important;
}

.watchlist-header input {
    padding: 6px 10px;
    width: 164px;
    background-color: var(--bg-dark);
    flex: none;
    font-size: 12px;
}

::-webkit-scrollbar {
    width: 6px; /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background: rgba(235, 235, 235, 0.6); /* Dark translucent scrollbar */
    border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-track {
    background: transparent; /* Make track invisible */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(229, 229, 229, 0.8); /* Darker on hover */
}